{% extends "impl.j2" %}

{% block metainfo %}
<div class="head" role="metainfo" id="metainfo">
     <dl>
        <dt>Brondata</dt>
        <dd>
           <a href="https://github.com/Informatievlaanderen/OSLOthema-organisatie/releases/tag/{{ data.metadata.branchtag }}">https://github.com/Informatievlaanderen/OSLOthema-persoon/releases/tag/{{ data.metadata.branchtag }}</a>
        </dd>
        <dt>Changelog</dt>
        <dd>
           <a href="{{ data.metadata.documentroot }}/resources/CHANGELOG.md">{{ data.metadata.documentroot }}/resources/CHANGELOG.md</a>
        </dd>
        <dt>Opmerkingen en feedback</dt>
        <dd>
           <a href="{{ data.metadata.feedbackurl }}">{{ data.metadata.feedbackurl }}</a>
        </dd>
        <dd>
           <a href="{{ data.metadata.standaardregisterurl }}">{{ data.metadata.standaardregisterurl }}</a>
        </dd>
        {% if data.metadata.dependencies %}
           <dt>Afhankelijkheden</dt>
           <dd>
              {% for dep in metadata.dependencies %}
                 <a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a>
              {% endfor %}
           </dd>
        {% endif %}
     </dl>
</div>
{% endblock %}

{% block summary %}
<p>
Het VKBO is een verijkte kopie van de Kruispuntbank van Ondernemingen (KBO) met extra gegevens uit relevante bronnen.
Het VKBO-Onderneming Implementatiemodel is gebaseerd op het
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">Applicatieprofiel OSLO Organisatie</a>
en W3C's <a href="https://www.w3.org/TR/vocab-org/">Organization Ontology</a>
om het <a href="https://www.vlaanderen.be/datavindplaats/catalogus/vkbo-ondernemingen-en-vestigingseenheden">VKBO</a>
te omsluiten volgens een datastandaard om de data op een interoperabele manier uit te wisselen. OSLO Organisatie is dan weer gealigneerd met de SEMIC Core Public Organisation Vocabulary en de Core Business Vocabulary.
Het implementatiemodel beperkt zich op dit moment op publieke data over ondernemingen.
</p>
<p>
Een onderneming is in dit implementatiemodel een Organisatie die geen tot meerdere vestigingen kan hebben.
De levensloop van de Organisatie is voorzien door middel van Veranderingsgebeurtenissen.
Een Organisatie of Vestiging kunnen contactinfo zoals telefoon, email, en adres.
Het adres kan op zijn beurt doorverwijzen naar het
<a href="https://www.vlaanderen.be/digitaal-vlaanderen/onze-diensten-en-platformen/gebouwen-en-adressenregister">Gebouw- en Adresregister</a>.
</p>
{% endblock %}
