{% extends "impl.j2" %}

{% block metainfo %}
<div class="head" role="metainfo" id="metainfo">
     <dl>
        <dt>Brondata</dt>
        <dd>
           <a href="https://github.com/Informatievlaanderen/OSLOthema-organisatie/releases/tag/{{ data.metadata.branchtag }}">https://github.com/Informatievlaanderen/OSLOthema-persoon/releases/tag/{{ data.metadata.branchtag }}</a>
        </dd>
        <dt>Changelog</dt>
        <dd>
           <a href="{{ data.metadata.documentroot }}/resources/CHANGELOG.md">{{ data.metadata.documentroot }}/resources/CHANGELOG.md</a>
        </dd>
        <dt>Opmerkingen en feedback</dt>
        <dd>
           <a href="{{ data.metadata.feedbackurl }}">{{ data.metadata.feedbackurl }}</a>
        </dd>
        <dd>
           <a href="{{ data.metadata.standaardregisterurl }}">{{ data.metadata.standaardregisterurl }}</a>
        </dd>
        {% if data.metadata.dependencies %}
           <dt>Afhankelijkheden</dt>
           <dd>
              {% for dep in metadata.dependencies %}
                 <a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a>
              {% endfor %}
           </dd>
        {% endif %}
     </dl>
</div>
{% endblock %}

{% block summary %}
<p>
Het <a href="https://www.vlaanderen.be/datavindplaats/catalogus/vkbo-ondernemingen-en-vestigingseenheden">VKBO</a>
is een kopie van de
<a href="https://economie.fgov.be/nl/themas/ondernemingen/kruispuntbank-van">Kruispuntbank van Ondernemingen (KBO)</a>,
verrijkt met bijkomende gegevens.
Het implementatiemodel VKBO-Onderneming heeft tot doel het VKBO te ontsluiten
volgens bestaande datastandaarden zodat de data op een interoperabele manier kan worden uitgewisseld.
Het model is gebaseerd op het
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">applicatieprofiel OSLO Organisatie</a>
dat op zijn beurt een samenvoeging is van terminologie uit de
<a href="https://www.w3.org/TR/vocab-org/">Organization Ontology</a>
en de
<a href="https://www.w3.org/TR/vocab-regorg/">Registered Organization Ontology</a>
van W3C en het SEMIC
<a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-public-organisation-vocabulary">Core Public Organisation Vocabulary</a>
en
<a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-vocabularies/core-business-vocabulary">Core Business Vocabulary</a>.
</p>
<p>
Inhoudelijk beperkt het model zicht tot de gegevens over ondernemingen die momenteel publiek zijn.
Een onderneming wordt in dit implementatiemodel voorgesteld als een GeregistreerdeOrganisatie,
dat wil zeggen een Organisatie die officieel in een register (hier het KBO) is opgenomen.
Ze beschrijft algemene kenmerken van Organisaties zoals naam en contactinfo,
maar vult dit aan voor een GeregistreerdeOrganisatie met o.a. registratienummer en rechtsvorm.
De belangrijkste gebeurtenissen in de levensloop van een onderneming (zoals Oprichting en Stopzetting)
zijn opgenomen evenals de Vestigingen van de onderneming.
</p>
<p>
Ten opzichte van de gebruikte datastandaarden voegt het implementatiemodel specifiek
voor het VKBO zaken toe zoals Doorhaling (schrapping uit het KBO), omvang van de Organisatie in aantal werknemers,
en een verwijzing naar de jaarrekening.
Ook werden overgenomen klassen meer uitgewerkt, bv. Adresvoorstelling met een verwijzing naar het Adres in het officieel adresregister,
incl. de geografische positie van het adres (van belang om Vestigingen geografisch te situeren).
</p>
{% endblock %}
